pkgbase = python-wcwidth
	pkgdesc = Python library that measures the width of unicode strings rendered to a terminal
	pkgver = 0.2.9
	pkgrel = 1
	url = https://github.com/jquast/wcwidth
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = python-wcwidth::git+https://github.com/jquast/wcwidth#commit=43fcd28ce2fd1f4ba1221120ed2e19539c81ca81
	b2sums = SKIP

pkgname = python-wcwidth
