pkgbase = python-wcwidth
	pkgdesc = Python library that measures the width of unicode strings rendered to a terminal
	pkgver = 0.2.8
	pkgrel = 1
	url = https://github.com/jquast/wcwidth
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-setuptools
	makedepends = python-wheel
	depends = python
	source = python-wcwidth::git+https://github.com/jquast/wcwidth#commit=2c9ab7c9d6905c0d4364071011a3168a3cbcadf2
	b2sums = SKIP

pkgname = python-wcwidth
